<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Base document{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/michaux.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {% block extra_header %}
    {% endblock %}
  </head>
  <body>
    <div id="home">
      {% block home %}
      <ul class="navbar">
        <li><a href="/base/work/">Accueil</a></li>
{% if user.is_active and user.is_staff %}
        <li><a href="/admin/base/work/">Admin</a></li>
        <li><a href="/base/pivot">Pivot</a></li>
        <li><a href="/base/reindex">Reindex</a></li>
{% endif %}
        <li><a title="Connecté en tant que {{ user }}" href="/accounts/logout">Logout</a></li>
      </ul>
      {% endblock %}
    </div>

    <div id="header">
      {% block header %}
      {% endblock %}
    </div>

    <div id="content">
      <div id="margin">
        {% block margin %}
        {% endblock %}
      </div>

      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
