<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Base document{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/michaux/michaux.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/michaux/michaux-print.css" rel="stylesheet" type="text/css" media="print" />
    <link rel="shortcut icon" href="/favicon.ico" />
    {% block extra_header %}
    {% endblock %}
  </head>
  <body>
    <div id="home">
      {% block home %}
      {% include "navbar.html" %}
      {% endblock %}
    </div>

    <div id="header">
      {% block header %}
      {% endblock %}
    </div>

    <div id="margin">
      {% block margin %}
      {% endblock %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
