{% load admin_urls %}
{% load url from future %}
{% load michaux %}

<ul class="bibliographyinfo iteminfo" data-id="{{ bib.pk }}">
  <li>{{ bib.nature }}</li>
  <li>abréviation - {{ bib.abbreviation }}</li>
  <li>auteur - {{ bib.creator }}</li>
  <li>titre - {{ bib.title }}</li>
  <li>titre du contenant - {{ bib.container_title }}</li>
  <li>auteur du contenant - {{ bib.container_creator }}</li>
  <li>textes de - {{ bib.container_others }}</li>
  <li>édition - {{ bib.editor }}</li>
  <li>ville - {{ bib.city }}</li>
  <li>numéro - {{ bib.number }}</li>
  <li>année de publication - {{ bib.publication_year|default:"?" }}</li>
  <li>numéro de page - {{ bib.page_number }}</li>
  <li>commentaire - {{ bib.comment }}</li>
  <li>notes - {{ bib.note }}</li>
</ul>
