{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load michaux %}

{% block title %}Référence bibliographique {{ bib }}{% endblock %}
{% block extra_header %}
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/michaux/grid.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/michaux/grid-print.css" rel="stylesheet" type="text/css" media="print" />

    <!-- The admin jquery.js is in the django namespace -->
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
{% endblock %}

    {% block header %}
    <h1>{{ bib }}</h1>
    {% endblock %}

    {% block margin %}
    {% endblock %}

    {% block content %}
    {% include "bibrefinfo.html" with bib=bib %}

    {% if exhibitions %}
    <h2>Référencé dans les expositions</h2>
    {% for ex in exhibitions %}
    <a href="{% url "base.views.exhibition" ex.id %}">{{ ex }}</a>
    {% endfor %}
    {% endif %}

    {% if reproductions %}
    <h2>Référencé dans les oeuvres</h2>
    {% for r in reproductions %}
    {% with work=r.work %}
    {% with thumb=work.thumbnail %}
    <div id="hm{{ work.cote }}" class="work {% for t in work.techniques %}technique-{{ t|urlencode }} {% endfor %} support-{{ work.support|default:"unknown"|urlencode }} {% if work.serie %}serie-{{ work.serie|urlencode }} {% endif %} {% for t in work.tags.all %} tag-{{ tag.name|urlencode }}{% endfor %} year-{{ work.creation_date_start|urlencode }}" data-cote="{{ work.cote }}" data-start="{{ work.creation_date_start }}">
      <a class="vignette" href="{{ work.get_absolute_url }}"><img class="{% if thumb.width > thumb.height %}landscape{% else %}portrait{% endif %}"
                                                           alt=""
                                                           title="{{ work }}
                                                                  {{ work.old_references }}"
                                                           src="{% if thumb %}{{ thumb.url }}{% else %}{{ STATIC_URL }}unknown_thumbnail.png{% endif %}"></a>
      <div class="workoverlay">p. {{ r.page }} {{ r.number }}</div>
    </div>
    {% endwith %}
    {% endwith %}
    {% endfor %}
    {% endif %}

    {% endblock %}

