{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load michaux %}

{% block title %}Référence bibliographique {{ bib }}{% endblock %}
{% block extra_header %}
    <link href="{{ STATIC_URL }}css/michaux/michaux.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- The admin jquery.js is in the django namespace -->
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
{% endblock %}

    {% block header %}
    <h1>{{ bib }}</h1>
    {% endblock %}

    {% block margin %}
    {% endblock %}

    {% block content %}
    {% include "bibrefinfo.html" with bib=bib %}

    {% if exhibitions %}
    <h2>Référencé dans les expositions</h2>
    {% for ex in exhibitions %}
    <a href="{% url "base.views.exhibition" ex.id %}">{{ ex }}</a>
    {% endfor %}
    {% endif %}

    {% if reproductions %}
    <h2>Référencé dans les oeuvres</h2>
    {% for r in reproductions %}
    {% include "griditem.html" with work=r.work info=r.page|add:" "|add:r.number %}
    {% endfor %}
    {% endif %}

    {% endblock %}

