{% load admin_urls %}
{% load michaux %}
{% load url from future %}

{% with thumb=work.thumbnail %}
<div id="hm{{ work.cote }}" class="cartel" data-cote="{{ work.cote }}" data-start="{{ work.creation_date_start }}">
  <div class="cartel-thumbnail">
    <img class="{% if thumb.width > thumb.height %}landscape{% else %}portrait{% endif %}"
         alt=""
         title="{{ work }}
                {{ work.old_references }}"
         src="{% if thumb %}{{ thumb.url }}{% else %}{{ STATIC_URL }}unknown_thumbnail.png{% endif %}"></a>
  </div>
  <div class="cartel-info">
    <ul>
      <li>hm{{ work.cote }}</li>

      <li>{{ work.technique|autocomma|default:"?" }} sur {{ work.support|default:"?" }} {% if work.support_details %}({{ work.support_details }}){% endif %}</li>

      <li>{{ work.creation_date_start|default:"?" }}</a>
    
      <li><span class="editable" data-field="height">{{ work.height }}</span> x <span class="editable" data-field="height">{{ work.width }}</span> mm</li>

      {% if work.inscription_set.count %}
<li><strong>inscriptions</strong>
  <ul>
    {% for insc in work.inscription_set.all %}<li>{{ insc.nature }} {% if insc.position %}({{ insc.position }}){% endif %} {{ insc.note|autolink }}</li>{% endfor %}
  </ul>
</li>
{% endif %}

          {% if work.exhibitioninstance_set.count %}
          <li><strong>expositions ({{ work.exhibitioninstance_set.count }})</strong>
            <ul>
              {% for ei in work.exhibitioninstance_set.all %}
              {% with ex=ei.exhibition %}
              <li><em>{{ ex.abbreviation }}</em></li>
              {% endwith %}
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          
          {% if work.reproduction_set.count %}
<li><strong>références bibliographiques ({{ work.reproduction_set.count }})</strong>
  <ul>
    {% for repr in work.reproduction_set.all %}<li>{{ repr.reference.title|default:repr.reference.abbreviation }} {% if repr.page %}p. {{ repr.page }}{% endif %} {% if repr.comment %} : {{ repr.comment|linebreaksbr }}{% endif %}</li> {% endfor %}
  </ul>
</li>
{% endif %}

{% if work.comment %}
<li itemprop="comment" class="editable" data-field="comment">{{ work.comment }}</li>
{% endif %}

  </div>
</div>
{% endwith %}
