{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load michaux %}

{% block title %} Catalogue raisonné Henri Michaux - Comparaison de {{ work1 }} et {{ work2 }}{% endblock %}
{% block extra_header %}
    <link href="{{ STATIC_URL }}css/michaux/compare.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/michaux/compare.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.wheelzoom.js"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block margin %}
{% endblock %}

{% block content %}
<div id="work1" class="work">
  <span class="worktitle"><a target="_blank" href="{{ work1.get_absolute_url }}">{{ work1 }}</a></span>
  <img src="{{ work1.image.url }}" class="{% if work1.image.width > work1.image.height %}landscape{% else %}portrait{% endif %}"
       rel="lightbox" 
       alt=""
       title="{{ work1 }}
{{ work1.old_references }}" />
</div>

<div id="work2" class="work">
  <span class="worktitle"><a target="_blank" href="{{ work2.get_absolute_url }}">{{ work2 }}</a></span>
  <img src="{{ work2.image.url }}" class="{% if work2.image.width > work2.image.height %}landscape{% else %}portrait{% endif %}"
       rel="lightbox" 
       alt=""
       title="{{ work2 }}
{{ work2.old_references }}" />
</div>

{% endblock %}
