{% load admin_urls %}
{% load url from future %}
{% load michaux %}

<ul class="exhibitioninfo" data-id="{{ ex.pk }}">
  <li><strong>{{ ex.abbreviation|autolink }}</strong> ({{ ex.nature }})</li>

  {% if ex.original %}
  <li>Reprise de {{ ex.original }}</li>
  {% endif %}

  <li><em>{{ ex.title|autolink }}</em></li>
  {% if ex.curator %}
  <li>Commissaire - {{ ex.curator }}</li>
  {% endif %}

  <li>{{ ex.location }} ({{ ex.location_type }})</li>
  <li>{{ ex.address }}</li>
  <li>{{ ex.city }} - {{ ex.country }}</li>

  
  <li>Début - {% if ex.start_day %}{{ ex.start_day }} / {% endif %}{% if ex.start_month %}{{ ex.start_month }} / {% endif %}{{ ex.start_year }}</li>
  <li>Fin - {% if ex.end_day %}{{ ex.end_day }} / {% endif %}{% if ex.end_month %}{{ ex.end_month }} / {% endif %}{{ ex.end_year }}</li>
  {% if ex.catalogue %}
  <li>Catalogue - <a href="{% url 'base.views.bibliography' ex.catalogue.pk %}">{{ ex.catalogue }}</a></li>
  {% else %}
  <li>Pas de catalogue.</li>
  {% endif %}

  {% if ex.comment %}
  <li>Note publique - {{ ex.comment|autolink }}</li>
  {% endif %}
  {% if ex.note %}
  <li>Note privée - {{ ex.note|autolink }}</li>
  {% endif %}  
</ul>
