{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load michaux %}

{% block title %} Catalogue raisonné Henri Michaux -
{% with total=sqs|length %}
{% if query_string %}
{{ total }} œuvre{{ total|pluralize }} correspondant à "{{ query_string }}"
{% else %}
{{ total }} œuvre{{ total|pluralize }}
{% endif %}
{% endwith %}
{% endblock %}
{% block extra_header %}
    <link href="{{ STATIC_URL }}css/michaux/export.css" rel="stylesheet" type="text/css" />
{{ tagform.media }}
{% endblock %}

{% block header %}
{% endblock %}

{% block margin %}
        {% endblock %}

        {% block content %}
        <div id="grid">

          {% for res in sqs %}
          {% if res.cote %}
          {% include "cartel.html" with work=res.object %}
          {% endif %}
          {% endfor %}

        </div>
        <div id="infopanel">
        </div>
        {% endblock %}
