{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}

{% block title %}{% if query_string %}
   {% with total=works|length %}
   {{ total }} oeuvre{{ total|pluralize }} correspondant à "{{ query_string }}"
   {% endwith %}
   {% else %}
   {{ "Liste des oeuvres" }}
   {% endif %}{% endblock %}
{% block extra_header %}
    <link href="{{ STATIC_URL }}css/michaux-grid.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript">
      resetFilter = function () {
          f = $("#filter")[0];
          f.value = "";
          f.form.submit()
      }

      jQuery(document).ready(function($) {
          var range = $("[data-start]").map( function () { var a = $(this).attr("data-start"); if (a != "None") return parseInt(a); } )
          if (range.length > 0) {
              var min = Math.min.apply(Math, range);
              var max = Math.max.apply(Math, range);

              $( "#slider-range" ).slider({
                  range: true,
                  min: min,
                  max: max,
                  values: [ min, max ],
                  slide: function( event, ui ) {
                      $( "#date" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                  },
                  stop: function(event, ui) {
                      var count = 0;
                      var shown = 0;
                      $("[data-start]").each( function () {
                          count += 1;
                          var d = parseInt($(this).attr('data-start'));
                          if (d < ui.values[0] || d > ui.values[1]) {
                              $(this).hide();
                          } else {
                              $(this).show();
                              shown += 1;
                          }
                      });
                      $("#shown").text(shown + " / " + count + " éléments affichés");
                      // FIXME: use navigation history to push filter into history
                  }
              });

              $( "#date" ).val( $( "#slider-range" ).slider( "values", 0 ) +
                                " - " + $( "#slider-range" ).slider( "values", 1 ) );
          }

          $('.vignette').click(function(e) {
              //prevent default action (hyperlink)
              e.preventDefault();
              //Get clicked link href
              var image_href = $(this).attr("href");
              /*
                If the lightbox window HTML already exists in document,
                change the img src to to match the href of whatever link was clicked
                If the lightbox window HTML doesn't exists, create it and insert it.
                (This will only happen the first time around)
              */
              if ($('#lightbox').length > 0) { // #lightbox exists
                  //place href as img src value
                  $('#lightbox_content').html('<img src="' + image_href + '" />');
                  //show lightbox window - you could use .show('fast') for a transition
                  $('#lightbox').show();
              }
              else { //#lightbox does not exist - create and insert (runs 1st time only)
                  //create HTML markup for lightbox window
                  var lightbox =
                      '<div id="lightbox">' +
                      '<p>Click to close</p>' +
                      '<div id="lightbox_content">' + //insert clicked link's href into img src
                      '<img src="' + image_href +'" />' +
                      '</div>' +
                      '</div>';
                  //insert lightbox HTML into page
                  $('body').append(lightbox);
              }
          });
          //Click anywhere on the page to get rid of lightbox window
          $('#lightbox').live('click', function() { //must use live, as the lightbox element is inserted into the DOM
              $('#lightbox').hide();
          });
      });

    </script>
{% endblock %}

{% block header %}<h1>{% with total=works|length %}{{ total }} oeuvre{{ total|pluralize }}{% if query_string %} correspondant à "{{ query_string }}"{% endif %}{% endwith %}</h1>
{% endblock %}

{% block margin %}
        {% with total=works|length %}
        <p>{{ total }} oeuvre{{ total|pluralize }} sélectionnée{{ total|pluralize }}</p>
        {% endwith %}
        <form>
          <label for="filter">Filtre</label>
          <input id="filter" type="text" name="q" value="{{ query_string }}" />
          <a href="javascript:resetFilter()"><img alt="Reset" title="Supprimer le filtre" src="{{ STATIC_URL }}reset.png" /></a>
        </form>

        <p>
          <label for="date">Date de création</label>
          <input type="text" id="date" style="border: 0" />
        </p>
        <div id="slider-range"></div>
        <div id="shown"></div>

        <p>Des facettes de sélection ici...</p>

        <div class="tagcloud">
          {% for tag in tagcloud_data %}
          <font size="{{ tag.weight|floatformat:0 }}"><a class="tag" href="?tag={{ tag }}">{{ tag }}</a></font>
          {% endfor %}
        </div>

{% endblock %}

{% block content %}
        {% for work in works %}
          {% with thumb=work.thumbnail %}
            <div class="work" data-start="{{ work.creation_date_start }}">
              <a class="vignette" href="{{ work.image.url }}"><img class="{% if thumb.width > thumb.height %}landscape{% else %}portrait{% endif %}"
                                         alt="" title="{{ work }}"
                                         src="{% if thumb %}{{ thumb.url }}{% else %}{{ STATIC_URL }}unknown_thumbnail.png{% endif %}"></a>
              <ul class="toolbar"><li><a href="{% url meta|admin_urlname:'change' work.cote %}" class="edit"></a></li><li><a href="{{ work.get_absolute_url }}" class="details"></a></li></ul>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
{% endblock %}
