{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load michaux %}

{% block title %}{% if query_string %}
   {% with total=sqs|length %}
   {{ total }} œuvre{{ total|pluralize }} correspondant à "{{ query_string }}"
   {% endwith %}
   {% else %}
   {{ "Liste des œuvres" }}
   {% endif %}{% endblock %}
{% block extra_header %}
    <link href="{{ STATIC_URL }}css/michaux/grid.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/tipsy.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/michaux-grid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>
{% endblock %}

{% block header %}<h1>{% with total=sqs|length %}{{ total }} œuvre{{ total|pluralize }}{% if query_string %} correspondant à "{{ query_string }}"{% endif %}{% endwith %}</h1>
    <div id="zoom"><div id="zoomslider"></div></div>
{% endblock %}

{% block margin %}
        <div class="pagination">
          <span class="step-links">
            {% if page.has_previous %}
            <a id="previous_page" title="Page précédente" href="?page={{ page.previous_page_number }}">&lt;&lt;&lt;</a>
            {% endif %}
            <span id="current_age">Page {{ page.number }} sur {{ page.paginator.num_pages }}</span>
            {% if page.has_next %}
            <a id="next_page" title="Page suivante" href="?page={{ page.next_page_number }}">&gt;&gt;&gt;</a>
            {% endif %}
          </span>
        </div>

        <form>
          <ul>

            <li><input id="filter" type="text" name="q" value="{{ query_string }}" />
              <input id="submitbutton" type="submit" value="Filtrer" />
              <a href="javascript:michaux.resetFilter()"><img id="filter_reset_icon" alt="Reset" title="Supprimer le filtre" src="{{ STATIC_URL }}icons/reset.png" /></a></li>
        </form>

        <div class="facets">

          <div class="facetcontrols"><a href="javascript:michaux.openFacets()" title="Ouvrir toutes les facettes" />Ouvrir tout</a> <a href="javascript:michaux.closeFacets()" title="Fermer toutes les facettes">Fermer tout</a>
          </div>

          <div class="facetbox">
            <p class="facettitle">Statut <span class="facetcount">{{ facets.fields.status|length }}</span></p>
            <ul>
            {% for status in facets.fields.status %}
            <li><a class="facetitemlabel" href="{{ current_url }}&amp;f=status_exact:{{ status.0|urlencode }}">{{ status.0 }}</a> <span class="facetitemcount">{{ status.1 }}</span>
              {% if status.0 in selected_facets %}<a href="{{ current_url|url_remove_facet:status }}" class="active-facet">&nbsp;&nbsp;&nbsp;</a>{% endif %}
            </li>
            {% endfor %}
            </ul>
          </div>

          <div class="facetbox">
            <p class="facettitle">Technique <span class="facetcount">{{ facets.fields.medium|length }}</span></p>
            <ul>
            {% for medium in facets.fields.medium %}
            <li><a class="facetitemlabel" href="{{ current_url }}&amp;f=medium_exact:{{ medium.0|urlencode }}">{{ medium.0 }}</a> <span class="facetitemcount">{{ medium.1 }}</span>
              {% if medium.0 in selected_facets %}<a href="{{ current_url|url_remove_facet:medium }}" class="active-facet">&nbsp;&nbsp;&nbsp;</a>{% endif %}
            </li>
            {% endfor %}
            </ul>
          </div>

          <div class="facetbox">
            <p class="facettitle">Support <span class="facetcount">{{ facets.fields.support|length }}</span></p>
            <ul>
            {% for support in facets.fields.support %}
            <li><a class="facetitemlabel" href="{{ current_url }}&amp;f=support_exact:{{ support.0|urlencode }}">{{ support.0 }}</a> <span class="facetitemcount">{{ support.1 }}</span>
              {% if support.0 in selected_facets %}<a href="{{ current_url|url_remove_facet:support }}" class="active-facet">&nbsp;&nbsp;&nbsp;</a>{% endif %}
            </li>
            {% endfor %}
            </ul>
          </div>

          <div class="facetbox">
            <p class="facettitle">Série <span class="facetcount">{{ facets.fields.serie|length }}</span></p>
            <ul>
            {% for serie in facets.fields.serie %}
            <li><a class="facetitemlabel" href="{{ current_url }}&amp;f=serie_exact:{{ serie.0|urlencode }}">{{ serie.0 }}</a> <span class="facetitemcount">{{ serie.1 }}</span>
              {% if serie.0 in selected_facets %}<a href="{{ current_url|url_remove_facet:serie }}" class="active-facet">&nbsp;&nbsp;&nbsp;</a>{% endif %}
            </li>
            {% endfor %}
            </ul>
          </div>

          <div class="facetbox">
            <p class="facettitle">Création [début]  <span class="facetcount">{{ facets.fields.creation_date_start|length }}</span></p>
            <ul>
            {% for date in facets.fields.creation_date_start %}
            <li><a class="facetitemlabel" data-year="{{ date.0 }}" data-count="{{ date.1 }}" href="{{ current_url }}&amp;f=creation_date_start_exact:{{ date.0|urlencode }}">{{ date.0 }}</a> <span class="facetitemcount">{{ date.1 }}</span>
              {% if date.0 in selected_facets %}<a href="{{ current_url|url_remove_facet:date }}" class="active-facet">&nbsp;&nbsp;&nbsp;</a>{% endif %}
            </li>
            {% endfor %}
            </ul>
          </div>

          <div class="facetbox">
            <p class="facettitle"><span id="histogramRange">{{ date_range.creation_date_start__min }} - {{ date_range.creation_date_start__max }}</span> <span class="facetcount">{{ facets.fields.creation_date_start|length }}</span> {% if "creation_date_start__range" in current_url %}<a href="{{ current_url|clear_date_range }}" class="active-facet">&nbsp;&nbsp;&nbsp;</a>{% endif %}</p>
            <div data-min="{{ date_range.creation_date_start__min }}" data-max="{{ date_range.creation_date_start__max }}" id="creationHistogram"></div>
          </div>

          <div class="facetbox">
            <p class="facettitle">Tags ({{ facets.fields.tags|length }})</p>
            <ul>
              {% for tag in facets.fields.tags %}
              <li><a class="facetitemlabel" href="{{ current_url }}&amp;f=tags_exact:{{ tag.0|urlencode }}">{{ tag.0 }}</a> <span class="facetitemcount">{{ tag.1 }}</span>
                {% if tag.0 in selected_facets %}<a href="{{ current_url|url_remove_facet:tag }}" class="active-facet">&nbsp;&nbsp;&nbsp;</a>{% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>

        </div>

        <div class="tagcloud">
          {% for tag in tagcloud_data %}
          <font size="{{ tag.weight|floatformat:0 }}"><a class="tag" href="?tag={{ tag }}">{{ tag }}</a></font>
          {% endfor %}
        </div>

        <div id="filler">
        </div>

        {% endblock %}

        {% block content %}
        <div id="grid">

          {% for res in page %}
          {% include "griditem.html" with work=res.object %}
          {% endfor %}

        </div>
        <div id="info_panel">
        </div>
        {% endblock %}
