{% load admin_urls %}
{% load url from future %}

{% with thumb=work.thumbnail %}
<div id="hm{{ work.cote }}" class="work {% for t in work.techniques %}technique-{{ t|urlencode }} {% endfor %} support-{{ work.support|default:"unknown"|urlencode }} {% if work.serie %}serie-{{ work.serie|urlencode }} {% endif %} {% for t in work.tags.all %} tag-{{ tag.name|urlencode }}{% endfor %} year-{{ work.creation_date_start|urlencode }}" data-cote="{{ work.cote }}" data-start="{{ work.creation_date_start }}">
  <a class="vignette" href="{{ work.image.url }}"><img class="{% if thumb.width > thumb.height %}landscape{% else %}portrait{% endif %}"
                                                       alt=""
                                                       title="{{ work }}
{{ work.old_references }}"
                                                       src="{% if thumb %}{{ thumb.url }}{% else %}{{ STATIC_URL }}unknown_thumbnail.png{% endif %}"></a>
  <ul class="toolbar">{% if user.is_active and user.is_staff %}
<li><a target="_blank" href="{% url workmeta|admin_urlname:'change' work.cote %}" class="edit"></a></li>
{% endif %}<li><a target="_blank" href="{{ work.get_absolute_url }}" class="details"></a></li><li><a class="selection"></a></li></ul>
  <div class="workoverlay">{{ info }}</div>
</div>
{% endwith %}
