{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load michaux %}

{% block title %} Catalogue raisonné Henri Michaux -
{% with total=sqs|length %}
{% if query_string %}
{{ total }} œuvre{{ total|pluralize }} correspondant à "{{ query_string }}"
{% else %}
{{ total }} œuvre{{ total|pluralize }}
{% endif %}
{% endwith %}
{% endblock %}
{% block extra_header %}
    <link href="{{ STATIC_URL }}css/michaux/grid.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/michaux/grid-print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/tipsy.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/jquery.iviewer.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- The admin jquery.js is in the django namespace -->
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.iviewer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/michaux/grid.js"></script>

{{ tagform.media }}
{% endblock %}

{% block header %}
<div id="zoom"><div id="zoomslider"></div></div>
{% endblock %}

{% block margin %}
<form id="form_filter" name="form_filter">
  <div class="pagination">
    <span class="step-links">
      <input type="hidden" id="current_page" name="page" value="{{ page.number }}" />
      <a id="previous_page" {% if page.has_previous %}title="Page précédente" onclick="michaux.goto_page({{ page.previous_page_number }})" {% else %}title="Première page" class="disabled"{% endif %}></a>
      <span>Page {{ page.number }} sur {{ page.paginator.num_pages }}</span>
      <a id="next_page" {% if page.has_next %}title="Page suivante" onclick="michaux.goto_page({{ page.next_page_number }})" {% else %}title="Dernière page" class="disabled"{% endif %}></a>
    </span>
  </div>

  <ul>

    <li><input placeholder="Filtre..." id="filter" type="text" name="q" value="{{ options.query_string }}" />
      <a href="javascript:michaux.resetFilter()"><img id="filter_reset_icon" alt="Reset" title="Supprimer le filtre" src="{{ STATIC_URL }}icons/reset.png" /></a></li>

    {% with selcount=options.selectionset|length %}
    <li id="selection_menuitem"><input type="hidden" id="selection" name="selection" value="{{ options.selection }}" /><a id="selection_menu">{{ selcount }} {% if selcount > 1 %}éléments sélectionnés{% else %}élément sélectionné{% endif %}</a>

      <ul {% if not selcount %}class="emptySelection"{% endif %} id="selection_popup">
        <li><a id="selection_all">Tout sélectionner</a></li>
        <li class="needSelection"><a id="selection_none">Tout déselectionner</a></li>
        <li class="needSelection"><a id="selection_compare">Comparer</a></li>
        <li class="needSelection"><a id="selection_open">Afficher</a></li>
{% if user.is_active and user.is_staff %}
        <li class="needSelection"><a id="selection_edit">Éditer</a></li>
{% endif %}
      </ul>
    </li>
    {% endwith %}

    <div class="facets">

      <div class="facetbox{% if options.active %} active{% endif %}">
        <p class="facettitle">Options{% if options.active %}<a title="Supprimer toutes les options" class="clear-facet"></a>{% endif %}</p>
        <div class="facetcontent">
          <ul>
            <li><label for="checkbox_images">Images</label>
              <input onclick="this.form.submit()" id="checkbox_images" type="checkbox" name="with_image" {% if options.with_image %}checked="on"{% endif %} title="Afficher uniquement les œuvres avec image"/></li>
            {% if user.is_active and user.is_staff %}
            <li><label for="checkbox_revision">Révisions</label>
              <input id="checkbox_revision" onclick="this.form.submit()" type="checkbox" name="with_revision" {% if options.with_revision %}checked="on"{% endif %} title="Afficher uniquement les œuvres avec un champ révision non vide" /></li>
            {% endif %}
            <li><label for="checkbox_single_technique">Technique unique</label>
              <input id="checkbox_single_technique" onclick="this.form.submit()" type="checkbox" name="single_technique" {% if options.single_technique %}checked="on"{% endif %} title="Ne pas afficher les techniques mixtes"/></li>

            <li><label for="info_overlay"><em>Overlay</em></label><select id="info_overlay" name="info_overlay" onchange="this.form.submit()">
              {% for opt in overlay_fields %}
              <option value="{{ opt.0 }}" {% ifequal info_overlay opt.0 %}selected="1"{% endifequal %}>{{ opt.1 }}</option>
              {% endfor %}
              </select>
          </li>
          </ul>
        </div>
      </div>

    {% include "textfacet.html" with name="Statut" field="status" %}
    {% include "textfacet.html" with name="Technique" field="technique" %}
    {% include "textfacet.html" with name="Support" field="support" %}
    {% include "textfacet.html" with name="Série" field="serie" %}

    {% include "barchartfacet.html" with name="Année" field="creation_date_start" rangeMin=range.creation_date_start.creation_date_start__min rangeMax=range.creation_date_start.creation_date_start__max %}

    {% include "barchartfacet.html" with name="Hauteur" field="height" rangeMin=range.height.height__min rangeMax=range.height.height__max %}
    {% include "barchartfacet.html" with name="Largeur" field="width" rangeMin=range.width.width__min rangeMax=range.width.width__max %}

    {% include "textfacet.html" with name="Exposition" field="exhibition" %}

    {% include "textfacet.html" with name="Tags" field="tags" %}

  </div>

  <div id="filler">
  </div>
</form>

        {% endblock %}

        {% block content %}
        <div id="grid">

          {% for res in page %}
          {% include "griditem.html" with work=res.object info=res.object|getattr:info_overlay %}
          {% endfor %}

        </div>
        <div id="info_panel">
        </div>
        {% endblock %}
