{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load michaux %}

{% block title %} Catalogue raisonné Henri Michaux -
{% with total=sqs|length %}
{% if query_string %}
{{ total }} œuvre{{ total|pluralize }} correspondant à "{{ query_string }}"
{% else %}
{{ total }} œuvre{{ total|pluralize }}
{% endif %}
{% endwith %}
{% endblock %}
{% block extra_header %}
    <link href="{{ STATIC_URL }}css/michaux/grid.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/michaux/grid-print.css" rel="stylesheet" type="text/css" media="print" />
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/tipsy.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/jquery.iviewer.css" rel="stylesheet" type="text/css" media="screen" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <!-- The admin jquery.js should be in the django namespace, but
         grappelli changes it. However, taggit-autosuggest references jquery from
         django.jQuery so let's just proxy it -->
   <script type="text/javascript">
     if (django === undefined) {
         var django = { 'jQuery': jQuery };
     }
   </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.iviewer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tinysort.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/michaux/michaux.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/michaux/grid.js"></script>

{{ tagform.media }}
{% endblock %}

{% block header %}
{% endblock %}

{% block margin %}
<form id="form_filter" name="form_filter">
  <div class="pagination">
    <span class="step-links">
      <input type="hidden" id="current_page" name="page" value="{{ page.number }}" />
      <a id="previous_page" {% if page.has_previous %}title="Page précédente" onclick="document.michaux.goto_page({{ page.previous_page_number }})" {% else %}title="Première page" class="disabled"{% endif %}></a>
      <span>Page {{ page.number }} sur {{ page.paginator.num_pages }}</span>
      <a id="next_page" {% if page.has_next %}title="Page suivante" onclick="document.michaux.goto_page({{ page.next_page_number }})" {% else %}title="Dernière page" class="disabled"{% endif %}></a>
    </span>
  </div>
</form>
{% endblock %}

    {% block content %}
  <div>
      {% for res in page %}
      {% with work=res.object %}
      <div id="hm{{ work.cote }}" class="{% cycle 'odd' 'even' %}"><a target="_blank" href="{{ work.get_absolute_url }}">hm{{ work.cote }}</a>
        {% for img in work.image_set.all %}<a target="_blank" title="{{ img.pk }}" href="{{ img.original_image.url }}"><img src="{{ img.thumbnail.url }}" alt="{{ img.pk }}" /></a>
        {% endfor %}
      </div>
      {% endwith %}
      {% endfor %}
</div>
    {% endblock %}
