<!DOCTYPE html>
<html>
<head>
	<title>Michaux PivotViewer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link href="{{ STATIC_URL }}css/michaux/michaux.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/michaux/pivot.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/pivot/pivotviewer.css" rel="stylesheet" type="text/css" />
	<script src="{{ STATIC_URL }}js/pivot/modernizr.custom.65936.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/jquery-ui.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/pivot/easing.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/pivot/jquery.mousewheel.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/pivot/jquery.jscrollpane.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/pivot/pivotviewer.js" type="text/javascript"></script>
</head>
<body>
{% include "navbar.html" %}
	<div id="pivotviewer" style="height:100%;"></div>
	<script type="text/javascript">
		var debug = true;
		$(document).ready(function () {
			$('#pivotviewer').PivotViewer({
				Loader: new PivotViewer.Models.Loaders.CXMLLoader("collection?{{ request.META.QUERY_STRING }}")
			});
		});
	</script>
</body>
</html>
