{% extends "base.html" %}

{% load admin_urls %}
{% load url from future %}
{% load michaux %}

{% block title %}{{ work }}{% endblock %}
{% block extra_header %}

   <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
   <link href="{{ STATIC_URL }}css/michaux.css" rel="stylesheet" type="text/css" media="screen" />
   <link href="{{ STATIC_URL }}css/michaux-single.css" rel="stylesheet" type="text/css" media="screen" />
   <!-- FIXME: find the proper way to get admin jquery ref (through -- ModelAdmin.Media) -->
   <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
   <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
   <script type="text/javascript" src="{{ STATIC_URL }}js/michaux-work.js"></script>
{{ tagform.media }}
{% endblock %}

{% block header %}
{% endblock %}

{% block margin %}
        <h2>{{ work }}</h2>
        <a id="edit-icon" href="{% url meta|admin_urlname:'change' work.cote %}"><img title="Editer la fiche" alt="Edit" src="{{ STATIC_URL }}icons/edit.png" /></a>

        {% include "workinfo.html" with work=work %}

        <div id="tags">
        {{ tagform.as_ul }}
        </div>
{% endblock %}

{% block content %}
      <div id="image">
        {% with i=work.image %}
          <img class="display {% if i.width > i.height %}landscape{% else %}portrait{% endif %}" alt="" src="{{ i.url }}">
        {% endwith %}
      </div>
{% endblock %}
