{% load admin_urls %}
{% load url from future %}
{% load michaux %}

    <div id="workinfo" class="iteminfo" data-cote="{{ work.cote }}" itemscope itemtype="http://schema.org/Painting">
        <ul>
          <li><span class="worktitle"><a target="_blank" href="{{ work.get_absolute_url }}">{{ work }}</a></span>{% if user.is_active and user.is_staff %} <a class="action-glyph" title="Éditer la fiche de l'oeuvre" href="{% url workmeta|admin_urlname:'change' work.cote %}">&#x270f;</a>{% endif %}
          </li>

          {% if user.is_active and user.is_staff %}
          {% if work.old_references %}
          <li>réf. {{ work.old_references|autolink }} {% if work.note_references %}(<span class="editable" data-field="note_references">{{ work.note_references|autolink|linebreaksbr }}</span>){% endif %}</li>
          {% endif %}
          {% endif %}

          {% if work.serie %}

          <li>série <a class="facetvalue editable" data-field="serie" href="{{ work.serie|facet_url:"serie" }}">{{ work.serie }}</a></li>
          {% endif %}

          <li><a class="facetvalue editable" data-field="technique" href="{{ work.technique|facet_url:"technique" }}">{{ work.technique|autocomma }}</a>
            sur
            <a class="facetvalue editable" data-field="support" href="{{ work.support|facet_url:"support" }}">{{ work.support }}</a> {% if work.support_details %}({{ work.support_details }}){% endif %}
          {% if work.note_technique or work.note_support %}
          <dl class="private_note">
            {% if work.note_technique %}
            <dt>note technique</dt><dd class="editable" data-field="note_technique">{{ work.note_technique|autolink|linebreaksbr }}</dd>
            {% endif %}
            {% if work.note_support %}
            <dt>note support</dt><dd class="editable" data-field="note_support">{{ work.note_support|autolink|linebreaksbr }}</dd>
            {% endif %}
          </dl>
          {% endif %}
          </li>

          <li>{% if work.creation_date_uncertainty %}{{ work.creation_date_uncertainty }} {% endif %}
            {% if work.creation_date_start %}<a itemprop="dateCreated" class="facetvalue editable" data-field="creation_date_start" href="{{ work.creation_date_start|facet_url:"creation_date_start"}}">{{ work.creation_date_start }}</a>{% endif %}
            {% if work.creation_date_end %}- <a class="facetvalue editable" data-field="creation_date_end" href="{{ work.creation_date_end|facet_url:"creation_date_end"}}">{{ work.creation_date_end }}</a>{% endif %}
            {% if work.note_creation_date %}
            <span class="private_note editable" data-field="note_creation_date">({{ work.note_creation_date }})</span>
            {% endif %}
          </li>
          <li><span class="editable" data-field="height">{{ work.height }}</span> x <span class="editable" data-field="height">{{ work.width }}</span> mm</li>
          {% if work.inscription_set.count %}
          <li><strong>inscriptions</strong>
            <ul>
              {% for insc in work.inscription_set.all %}<li>{{ insc.nature }} {% if insc.position %}({{ insc.position|positionfilter }}){% endif %} {{ insc.note|autolink }}</li>{% endfor %}
            </ul>
          </li>
          {% endif %}
          {% if work.exhibitioninstance_set.count %}
          <li><strong>expositions ({{ work.exhibitioninstance_set.count }})</strong>
            <ul>
              {% for ei in work.exhibitioninstance_set.all %}
              {% with ex=ei.exhibition %}
              <li><em>{% if ex.original %}<a title="{% if ex.original.title %}{{ ex.original.title }}, {% endif %}{{ ex.original.abbreviation }}" class="facetvalue" href='{% url "base.views.exhibition" ex.original.pk %}'>&nbsp;&#x267b;&nbsp;</a>{% endif %}<a title="{% if ex.title %}{{ ex.title }}, {% endif %}{{ ex.abbreviation }}" class="facetvalue" href="{% url "base.views.exhibition" ex.pk %}">{{ ex.abbreviation }}</a></em> <a class="facetvalue action-glyph" title="Filtrer la vue grille suivant cette valeur de facette" href="{{ ex.abbreviation|facet_url:"exhibition" }}">&#x2299;</a>{% if user.is_active and user.is_staff %} <a class="action-glyph" title="Éditer la fiche de l'exposition" href="{% url "admin:base_exhibition_change" ex.pk %}">&#x270f;</a>{% endif %}</li>
              {% endwith %}
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% if work.reproduction_set.count %}
          <li><strong>références bibliographiques ({{ work.reproduction_set.count }})</strong>
            <ul>
              {% for repr in work.reproduction_set.all %}<li><a href='{% url "base.views.bibliography" repr.reference.pk %}'>&#x2a9c; {{ repr.reference.title|default:repr.reference.abbreviation }}</a> {% if repr.page %}p. {{ repr.page }}{% endif %} {% if repr.comment %} : {{ repr.comment|linebreaksbr }}{% endif %}</li> {% endfor %}
            </ul>
          </li>
          {% endif %}

          {% if work.comment %}
          <li><strong>notes</strong></li>
          <li itemprop="comment" class="editable" data-field="comment">{{ work.comment|autolink }}</li>
          {% endif %}

          {# Private fields #}
          {% if user.is_active and user.is_staff %}

          {% if work.acquisition_set.count %}
          <li><strong>ventes</strong>
            <ul>
              {% for p in work.acquisition_set.all %}<li>{{ p.abbrev }} <a class="facetvalue action-glyph" title="Filtrer la vue grille suivant cette valeur de facette" href="{{ p.abbrev|facet_url:"acquisition_location" }}">&#x2299;</a> {% if p.owner %} - {{ p.owner }}{% endif %} {{ p.note }}</li>{% endfor %}
            </ul>
          </li>
          {% endif %}

          {% if work.event_set.count %}
          <li><strong>événements</strong>
            <ul>
              {% for ev in work.event_set.all %}<li>{{ ev }}</li>{% endfor %}
            </ul>
          </li>
          {% endif %}

          <dl class="private_note">
            
            {% if work.note %}
            <dt>notes privées</dt>
            <dd class="editable" data-field="note">{{ work.note|autolink|linebreaksbr }}</dd>
            {% endif %}

            {% if work.revision %}
            <dt><strong>révisions</strong></dt>
            <dd class="editable" data-field="revision">{{ work.revision|autolink|linebreaksbr }}</dd>
            {% endif %}

          </dl>
          {% endif %}
          {# End of private fields #}

          {% if work.tags.count %}
          <li class="taglist"><strong>tags</strong>
            <p itemprop="keywords">
              {% for tag in work.tags.all %}<a href="/base/work/?f=tags_exact:{{ tag.name|urlencode }}">{{ tag.name }}</a> {% endfor %}
            </p>
          </li>
          {% if work.tags.similar_objects %}
          <li class="similar"><strong>oeuvres similaires ({{ work.tags.similar_objects.count }})</strong>
            <ul>
              {% for w in work.tags.similar_objects|slice:":5" %}
              <li><a class="workref" data-thumbnail-url="{{ w.thumbnail.url }}" href="/base/work/{{ w.cote }}">{{ w }}</a>{% if user.is_active and user.is_staff %} <a class="action-glyph" title="Éditer la fiche de l'oeuvre" href="{% url workmeta|admin_urlname:'change' work.cote %}">&#x270f;</a>{% endif %}</li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% endif %}
          {% if work.image_set.count %}
          <li><strong>images associées ({{ work.image_set.count }})</strong></li>
          <li>
            {% for img in work.image_set.all %}<div class="imagebox"><a class="image_reference" rel="lightbox" title="{{ img }}" href="{{ img.original_image.url }}"><img itemprop="associatedMedia" class="vignette" src="{{ img.thumbnail.url }}" title="{{ img.note }}" alt="" /></a></div> {% endfor %}
          </li>
          {% endif %}

        </ul>

    </div>

    <div id="elementTagform">
      <form>
      {{ tagform.as_p }}
      </form>
    </div>

    <script type="text/javascript">
      $(".workref").tipsy({ title: function () {
          return '<img alt="" src="' + this.getAttribute('data-thumbnail-url') + '"><br>' + $(this).text(); },
                            gravity: 's',
                            html: true });
    </script>
