{% load admin_urls %}
{% load url from future %}
{% load michaux %}

        <ul class="workinfo" data-cote="{{ work.cote }}">

          <li><span class="worktitle"><a target="_blank" href="{{ work.get_absolute_url }}">{{ work }}</a></span>{% if user.is_active and user.is_staff %} <a class="action-glyph" title="Éditer la fiche de l'oeuvre" href="{% url meta|admin_urlname:'change' work.cote %}">&#x270f;</a>{% endif %}
          </li>

          <li>Réf. {{ work.old_references|autolink }} {% if work.note_references %}({{ work.note_references|autolink|linebreaksbr }}){% endif %}</li>
          {% if work.serie %}

          <li>Série <a class="facetvalue" href="{{ work.serie|facet_url:"serie" }}">{{ work.serie }}</a></li>
          {% endif %}

          <li><a class="facetvalue" href="{{ work.technique|facet_url:"technique" }}">{{ work.technique }}</a>
            sur
            <a class="facetvalue" href="{{ work.support|facet_url:"support" }}">{{ work.support }}</a> {% if work.support_details %}{{ work.support_details }}{% endif %}
          {% if work.note_technique or work.note_support %}
          <dl class="private_note">
            {% if work.note_technique %}
            <dt>Note technique</dt><dd>{{ work.note_technique|autolink|linebreaksbr }}</dd>
            {% endif %}
            {% if work.note_support %}
            <dt>Note support</dt><dd>{{ work.note_support|autolink|linebreaksbr }}</dd>
            {% endif %}
          </dl>
          {% endif %}
          </li>

          <li>{% if work.creation_date_uncertainty %}{{ work.creation_date_uncertainty }} {% endif %}
            {% if work.creation_date_start %}<a class="facetvalue" href="{{ work.creation_date_start|facet_url:"creation_date_start"}}">{{ work.creation_date_start }}</a>{% endif %}
            {% if work.creation_date_end %}- <a class="facetvalue" href="{{ work.creation_date_end|facet_url:"creation_date_end"}}">{{ work.creation_date_end }}</a>{% endif %}

            {% if work.note_creation_date %}
            <dl class="private_note"><dt>Note date</dt><dd>{{ work.note_creation_date }}</dd></dl>
            {% endif %}
          </li>
          <li>{{ work.height }} x {{ work.width }} mm</li>
          {% if work.inscription_set.count %}
          <li><strong>Inscriptions</strong>
            <ul>
              {% for insc in work.inscription_set.all %}<li>{{ insc.nature }} {% if insc.position %}({{ insc.position }}){% endif %} {{ insc.notes|autolink }}</li>{% endfor %}
            </ul>
          </li>
          {% endif %}
          {% if work.exhibitioninstance_set.count %}
          <li><strong>Expositions</strong>
            <ul>
              {% for ei in work.exhibitioninstance_set.all %}<li><a title="{{ ei.exhibition.title }}" class="facetvalue" href="{% url "base.views.exhibition" ei.exhibition.pk %}">{{ ei.exhibition.abbreviation }}</a> <a class="facetvalue action-glyph" title="Filtrer la vue grille suivant cette valeur" href="{{ ei.exhibition.abbreviation|facet_url:"exhibition" }}">&#x267b;</a></li> {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% if work.reproduction_set.count %}
          <li><strong>Références bibliographiques</strong>
            <ul>
              {% for ex in work.reproduction_set.all %}<li>{{ repr }} : {{ repr.comment|linebreaksbr }}</li> {% endfor %}
            </ul>
          </li>
          {% endif %}

          {% if work.comment %}
          <li><strong>Notes publiques</strong></li>
          <li>{{ work.comment|autolink|linebreaksbr }}</li>
          {% endif %}

          {# Private fields #}
          {% if user.is_active and user.is_staff %}

          {% if work.acquisition_set.count %}
          <li><strong>Propriétaires</strong>
            <ul>
              {% for p in work.acquisition_set.all %}<li>{{ p.owner }} ({{ p.date }}) {{ p.note }}</li>{% endfor %}
            </ul>
          </li>
          {% endif %}

          {% if work.event_set.count %}
          <li><strong>Événements</strong>
            <ul>
              {% for ev in work.event_set.all %}<li>{{ ev }}</li>{% endfor %}
            </ul>
          </li>
          {% endif %}

          <dl class="private_note">

          {% if work.note %}
          <dt>Notes privées</dt>
          <dd>{{ work.note|autolink|linebreaksbr }}</dd>
          {% endif %}

          {% if work.revision %}
          <dt>Révisions</dt>
          <dd>{{ work.revision|autolink|linebreaksbr }}</dd>
          {% endif %}


          {% endif %}

          {% if work.tags.count %}
          <li class="taglist"><strong>Tags</strong>
            <p>
              {% for tag in work.tags.all %}<a href="/base/work/?f=tags_exact:{{ tag.name|urlencode }}">{{ tag.name }}</a> {% endfor %}
            </p>
          </li>
          {% if work.tags.similar_objects %}
          <li class="similar"><strong>Oeuvres similaires</strong>
            <ul>
              {% for w in work.tags.similar_objects %}
              <li><a href="/base/work/{{ w.cote }}">{{ w }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% endif %}
          {% if work.image_set.count %}
          <li>
            {% for img in work.image_set.all %}<a class="image_reference" rel="lightbox" title="{{ img }}" href="{{ img.original_image.url }}"><img class="vignette" src="{{ img.thumbnail.url }}" title="{{ img.note }}" alt="" /></a> {% endfor %}
          </li>
          {% endif %}
        </ul>
