#content {
    position: relative;
    margin: 0px;
}

#margin {
    display: none;
}

.work {
    position: absolute;
    width: 48%;
}

.work img {
    max-width: 100%;
    max-height: 100%;
}

img.landscape {
    width: 100%;
    height: auto;
}

img.portrait {
    width: auto;
    height: 100%;
}


#work1 {
    left: 20px;
}

#work2 {
    right: 20px;
}
