#header {
    width: 100%;
    height: 50px;
    text-align: center;
}

#slider-range {
    width: 90%;
}

#filter_reset_icon {
    vertical-align: bottom;
}

div.work {
    width: 200px;
    height: 200px;
    float: left;
    padding: 5px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.work a {
    margin: auto;
}

.work img {
    max-width: 200px;
    max-height: 200px;
}

.landscape {
    width: 100%;
    height: auto;
}

.portrait {
    width: auto;
    height: 100%;
}

ul.toolbar{
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    list-style-type: none;
    opacity: 0.0;
}

ul.toolbar:hover {
    opacity: 0.5;
}

ul.toolbar li {
    display:inline;
}

ul.toolbar li a {
    float: left;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.6;
}

ul.toolbar li a:hover{
    opacity: 1.0;
}

a.edit {
    background:#fff url(../../icons/edit.png) no-repeat center center;
}

a.details {
    background:#fff url(../../icons/details.png) no-repeat center center;
}

div.work a.selection {
    background:#fff url(../../icons/unselected.png) no-repeat center center;
}

div.work.selected a.selection {
    background:#fff url(../../icons/selected.png) no-repeat center center;
}

div.work.selected {
    background-color: #eee;
}

.pagination {
    width: 100%;
    text-align: center;
}

.pagination a {
    padding: 0 12px 0 0;
}

#previous_page {
    background: #fff url(../../icons/prev.png) no-repeat center center;
}
#next_page {
    background: #fff url(../../icons/next.png) no-repeat center center;
}

#info_panel {
    position: fixed;
    height: 90%;
    top: 20px;
    right: 5px;
    width: 200px;
    z-index: 2;
    opacity: .9;
    background-color: #fefefe;
    display: none;
    padding: 8px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px 2px #D7D9DA;
    -webkit-box-shadow: 0 0 2px 2px #D7D9DA;
    box-shadow: 0 0 2px 2px #D7D9DA;
}

#infopanel_navbar {
    width: 100%;
    color: #537182;
    position: relative;
}

#infopanel_navbar a {
    padding: 0 12px 0 0;
    text-decoration: none;
}

.disabled {
    opacity: .3;
}

#infopanel_prev {
    background: #fff url(../../icons/prev.png) no-repeat center center;
}
#infopanel_next {
    background: #fff url(../../icons/next.png) no-repeat center center;
}
#infopanel_close {
    background: #fff url(../../icons/close.png) no-repeat center center;
    position: absolute;
    right: 5px;
}

span.worktitle {
    font-size: 12px;
    font-weight: bold;
}

ul.workinfo {
    list-style: none;
    text-align: left;
}

div.facetbox {
    border: 1px solid #cccccc;
    margin: 0px 5px 5px 2px;
    overflow: auto;
    max-height: 120px;
    min-height: 1.2em;
}

div.facetbox.barchartbox {
    max-height: 140px;
    min-height: 1.2em;
    overflow: hidden;
}

.barchart {
    margin-left: 6px;
}

.facettitle {
    margin: 0;
    background-color: #fff;
    position: absolute;
    width: 160px;
    height: 1.2em;
    z-index: 1;
}

.facetslider {
    height: 8px;
    width: 172px;
    margin-left: 3px;
}

.facetslider.ui-slider {
    height: 2px;
}

.facetslider .ui-widget-header {
    height: 2px;
}

.facetslider .ui-slider-handle {
    top: 0px;
    margin-left: 0px;
    position: absolute;
    z-index: 2;
    width: 8px !important;
    height: 8px !important;
    cursor: default;
    background-color: red !important;
}

.facetcontrols {
    text-align: right;
}

div.facetbox ul {
    margin-top: 1.3em;
    margin-left: 10px;
    list-style: none;
}

div.facetbox li {
    width: 100%;
    position: relative;
}

div.facetbox li:hover {
    background-color: #dddddd;
}

a.active-facet {
    text-decoration: none;
    padding: 14px 0 0 0;
    background: #fff url(../../icons/close.png) no-repeat center center;
    width: 8px;
    position: absolute;
    left: -10px;
}

.barchartbox .active-facet {
    left: 166px;
}

.facetitemlabel {
    text-decoration: none;
    color: black;
}

.facetcount, .facetitemcount {
    color: #a8a9aa;
    position: absolute;
    right: 4px;
}

.facetcount {
    right: 20px;
}

.facetdata {
    display: none;
}

#creationHistogram {
    margin-top: 1.3em;
}

#creationHistogram rect.bar {
   stroke: steelblue;
   fill: #aaccff;
}

#creationHistogram rect.bar:hover {
   fill: steelblue;
}

#zoom {
    position: fixed;
    top: 5px;
    right: 10px;
    width: 120px;
    background-color: white;
    z-index: 10;
    opacity: .9;
}

#zoomslider {
    width: 100%;
}

#grid {
    -moz-transform-origin: 0 0;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
