#header {
    height: 0px;
}

#content {
    margin-top: 0px;
}

#margin ul {
    list-style: none inside none;
}


.display {
    max-width: 100%;
    max-height: 100%;
}

.landscape {
    width: 90%;
    height: auto;
}

.portrait {
    width: auto;
    height: 90%;
}

#edit-icon {
    position: fixed;
    top: 26px;
    left: 190px;
}

.worktitle, .taglist {
    display: none;
}

a[rel=lightbox] {
    position: relative;
}

a[rel=lightbox] img {
    position: absolute;
    top: 0;
    left: 0;
}

#tags {
    position: absolute;
    bottom: 20px;
}

#image {
    position: relative;
    width: 100%;
    height: 100%;
}

#image .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 48px 48px 0 0;
    background: url(../../icons/loading.gif) no-repeat center center;
    z-index: 3;
}
