{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Archives Michaux - admin' %}{% endblock %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}css/michaux/michaux.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/michaux/admin.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/michaux/admin.js"></script>
{% endblock %}

{% block page-tools %}
{% include "navbar.html" %}
{% endblock %}
