{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Archives Michaux - admin' %}{% endblock %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/michaux/michaux.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/admin.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block branding %}
<h1 id="site-name">Archives Michaux - interface d'administration</h1>
{% endblock %}

{% block nav-global %}
{% include "navbar.html" %}
{% endblock %}
